h1 {
    color: white; 
    font-family: sans-serif;
}
p {
    color: white; 
    font-family: sans-serif;
}
body {
    background-color: black;
}
button {
    color: black;
    background-color: gray;
    font-family: sans-serif;
    border: 0px;
}